// A theme with simple look & simple animations.



@forward "theme-menu-slide"         hide
                                    toggler-expand, toggler-collapse, // will be overriden by toggler-transform
                                    logo, toggler, link, // will be overriden by hover-bg
                                    default, logo, link // will be overriden on this module
                                    ;
@use "theme-menu-slide" as menu-slide;


@forward "theme-toggler-transf"     hide
                                    menu-expand, menu-collapse, // will be overriden by menu-slide
                                    logo, toggler, link, // will be overriden by hover-bg
                                    default, logo, link // will be overriden on this module
                                    ;
@use "theme-toggler-transf" as toggler-transform;


@forward "theme-hover-bg"           hide
                                    toggler-expand, toggler-collapse, // will be overriden by theme-toggler-transform
                                    menu-expand, menu-collapse, // will be overriden by menu-slide
                                    default, logo, link // will be overriden on this module
                                    ;
@use "theme-hover-bg" as hover-bg;



// development:
// @use "node_modules/@heymarco/colors/index" as col;
// @use "node_modules/@heymarco/spacer/index" as spc;
// @use "node_modules/@heymarco/container/index" as cont;
// @use "node_modules/@heymarco/typography/index" as typo;

// production:
@use "../../../node_modules/@heymarco/colors/index" as col;
@use "../../../node_modules/@heymarco/spacer/index" as spc;
@use "../../../node_modules/@heymarco/container/index" as cont;
@use "../../../node_modules/@heymarco/typography/index" as typo;



/// a default theme definition.
@mixin default {
    background      : var(#{col.$cssvar}secondary-transp);

    column-gap      : var(#{spc.$cssvar}small);
    row-gap         : 0;

    padding-left    : var(#{cont.$cssvar}x);
    padding-right   : var(#{cont.$cssvar}x);
    padding-top     : var(#{spc.$cssvar}small);
    padding-bottom  : var(#{spc.$cssvar}small);
}

/// an theme definition on phone when expanded.
@mixin phone-expand {
    row-gap         : var(#{spc.$cssvar}small);
}


/// an theme definition for the navbar's toggler.
@mixin logo {
    @include hover-bg.logo;

    @include typo.h-style;
    font-size: var(#{typo.$h-cssvar}font-size-2);
}

/// an theme definition for the navbar's link.
@mixin link {
    @include hover-bg.link;

    font-size: var(#{typo.$cssvar}font-size-medium);
}